@page "/"

@inject NavigationManager navigate

<h1>Manual filling</h1>

<FluentSelect Label="Style :"
			  TOption="string"
			  Width="200px"
			  @bind-Value="@varString"
			  Placeholder="Select form...">
	
	<FluentOption Value="0">
		<svg width="79" height="20" >
			<rect width="79" height="20" fill="#80b3ff" stroke="black" />
		</svg>
	</FluentOption>
	<FluentOption Value="1">
		<svg width="79" height="20" >
			<rect width="79" height="20" rx="6" ry="6" fill="#80b3ff" stroke="black" stroke-width="0.5pt" />
		</svg>
	</FluentOption>
	<FluentOption Value="2">
		<svg width="79" height="20" >
			<polygon points="0,10 10,0 69,0 79,10 69,20 10,20" fill="#80b3ff" stroke="black" stroke-width="0.5pt" />
		</svg>
	</FluentOption>
	<FluentOption Value="3">
		<svg width="79" height="20" >
			<polygon points="0,0 69,0 79,10 69,20 0,20" fill="#80b3ff" stroke="black" stroke-width="0.5pt" />
		</svg>
	</FluentOption>
</FluentSelect>

<br />
<FluentButton Style="margin-top:20px"
			  Appearance="Appearance.Accent"
              OnClick="@(() => navigate.NavigateTo("/page2"))">Go to Page 2</FluentButton>	


@code {
	private string varString { get; set; } 
}